:root{
    /* Colours*/
    --color-text:#ffffff;
    --color-primary:#566ab7;
    --color-secondary:#213bc0;
    --color-dark:#0b2447;
    --color-bg:#04152d;

    /*fonts*/
    --font-roboto: "Roboto";
}
/*this file keeps track of all fonts and colors*/